@media all and (max-width: 1200px) {

	aside {
		font-size: 1.9em;
		padding-top: 1em;
	}

	h2 {
		font-weight: 500;
		margin: 20px 0;
	}

	a {
		font-size: 1em;
	}

	.recent-posts-aside h3 {
		color: #EEEEEC;
		font-size: 0.85em;
	}

	h1.aside-logo {
		padding: 0;
		border-radius: 0.12em;
		font-size: 1em;
	}

	.aside-nav li,
	.aside-nav li.first-aside-link {
		margin-top: 0.7em;
		padding: 0.8em;
	}

	.aside-nav li a {
		padding: 0.75em;
		font-size: 0.55em;
	}

	.aside-search {
		margin: 0.75em 0;
	}

	.box {
		width: 70%;
		margin: 0 auto;
		margin-top: 3em;
	}

	.aside-tags-inside p {
		font-size: 0.8em;
	}

	.aside-tags-inside p strong {
		font-weight: 500;
	}

	.text-input {
		line-height: 1.85em;
	}
}