.box {
	display: block;
	width: 80%;
	margin: 0 auto;
	margin-top: 4em;
}

h3 {
	color: #fff;
	font-size: 1.1em;
	font-weight: 700;
	margin: 20px 0;
}

a {
	color: #d4dde0;
	text-decoration: underline;
	cursor: pointer;
	font-size: 1.1em;
}

a:hover {
	color: #c94663;
	transition: 0.7s;
}


li {
	text-align: left;
	margin: 15px 0;
	color: rgb(49, 49, 19);
}

div .sidebar {
	width: 30%;
	padding: 3em 1.5em 1.5em 1.5em;
	display: table-cell;
	background-color: #303948;
}

 .aside-logo {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 2em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.aside-logo-link {
	display: block;
	background-color: #c94663;
	padding: 0.875em 0.25em;
	border-radius: 0.2em;
	text-align: center;
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.15), 0 0.025em 0.15em 0em rgba(0, 0, 0, 0.25);
	text-decoration: none;
	color: #fff;
}

.aside-logo-link:hover {
	color: #753F38;
	transition: 0.7s;
}

.aside-nav li {
	margin-top: 1em;
	border-top: solid 1px rgba(0, 0, 0, 0.25);
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.075);
	padding: 1.5em;
	border-radius: 5px;
}

.aside-nav li:hover {
	background-color: #7d7d7d;
	transition: 0.7s;
	border-radius: 5px;
}

.aside-nav .first-aside-link {
	background-color: #272E39;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
	font-weight: 700;
	color: #fff;
	padding: 1.5em;
}

.aside-nav li a {
	color: #c3c3c3;
	cursor: pointer;
	text-decoration: none;
	display: block;
	padding: 0.4em 1em 0.4em 1em;
	border-radius: 0.4em;
	font-size: 1.5em;
}

.aside-search {
	position: relative;
	margin: 0 auto;
}

.text-input {
	display: block;
	border-radius: 4px;
	border: solid 1px #7B767A;
	padding: 5px 7px;
	width: 80%;
	line-height: 2em;
	margin: 0 auto;
	background-color: #CFC3B3;
	color: #303948;
}

.text-input::-webkit-input-placeholder {
	color: #623c31;
	font-weight: bold;
	font-style: italic;
}

.aside-tags {
	position: relative;
}

.aside-tags-inside {
	font-size: 0.8em;
	padding: 12px;
	background-color: #2E3744;
	border-radius: 3px;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
	width: 80%;
	margin: 0 auto;
}

.aside-tags-inside p {
	color: #fff;
	font-size: 1.5em;
}

.aside-tags-inside p strong {
	font-weight: 700;
}

.aside-tags-inside p a {
	color: #d4dde0;
	text-decoration: underline;
	cursor: pointer;
}

