@font-face {
	font-family: 'opensans';
	src: url('/static/opensans.ttf') format('truetype'),
	url('/static/opensans.ttf') format('truetype');
	url('/static/opensans.woff') format('woff'),
	url('/static/opensans.svg') format('svg');
	url('/static/opensans.eot');
}

@font-face {
	font-family: 'opensansbold';
	src: url('/static/opensansbold.ttf') format('truetype'),
	url('/static/opensansbold.ttf') format('truetype');
	url('/static/opensansbold.woff') format('woff'),
	url('/static/opensansbold.svg') format('svg');
	url('/static/opensansbold.eot');
}

@font-face {
	font-family: 'opensansextrabold';
	src: url('/static/opensansextrabold.ttf') format('truetype'),
	url('/static/opensansextrabold.ttf') format('truetype');
	url('/static/opensansextrabold.woff') format('woff'),
	url('/static/opensansextrabold.svg') format('svg');
	url('/static/opensansextrabold.eot');
}

@font-face {
	font-family: 'opensanslight';
	src: url('/static/opensanslight.ttf') format('truetype'),
	url('/static/opensanslight.ttf') format('truetype');
	url('/static/opensanslight.woff') format('woff'),
	url('/static/opensanslight.svg') format('svg');
	url('/static/opensanslight.eot');
}

@font-face {
	font-family: 'Overpass';
	src: url('/static/Overpass.ttf') format('truetype'),
	url('/static/Overpass.ttf') format('truetype');
}

@font-face {
	font-family: 'SansProMedium';
	src: url('/static/SansProMedium.ttf') format('truetype'),
	url('/static/SansProMedium.ttf') format('truetype');
}

