@import "./mixins";
@import "./landing/landing";
@import "./landing/animations";
@import "./layout";

// --------------------------------------------------
// Compitle version for cache
// --------------------------------------------------
$compileVersion: random(90000) + random(99999);
$pathToImg: "/static/";
$pathToFonts: "/static/";
@include customFont("opensans", "opensans", $pathToFonts, normal, normal);
@include customFont("opensansbold", "opensansbold", $pathToFonts, normal, normal);
@include customFont("opensansextrabold", "opensansextrabold", $pathToFonts, normal, normal);
@include customFont("opensansitalic", "opensansitalic", $pathToFonts, normal, normal);

body {
	background: white;
}