@import "./mixins";
@import "./reset";
@import "./landing/landing";
@import "./landing/animations";
@import "./layout";
@import "./style";
@import "./aside/aside";
@import "./aside/1200px-aside";
@import "./aside/960px-aside";
@import "./content/content";
@import "./content/1200px-content";
@import "./content/960px-content";

// --------------------------------------------------
// Compitle version for cache
// --------------------------------------------------
$compileVersion: random(90000) + random(99999);
$pathToImg: "/static/";
$pathToFonts: "/static/";
@include customFont("opensans", "opensans", $pathToFonts, normal, normal);
@include customFont("opensansbold", "opensansbold", $pathToFonts, normal, normal);
@include customFont("opensansextrabold", "opensansextrabold", $pathToFonts, normal, normal);
@include customFont("opensansitalic", "opensansitalic", $pathToFonts, normal, normal);

body {
	background: white;
}