body {
	background-color: rgba(195, 195, 195, 0.11);
	font-size: 12px;
}

h1 {
	font-family: 'opensansextrabold';
}

h2 {
	font-family: 'opensansbold';
	margin: 10px 0;
}

h3 {
	font-family: 'opensansbold';
}

a {
	font-family: 'opensanslight';
}

p {
	font-family: 'opensanslight';
	color: rgb(64, 99, 39);
	font-size: 20px;
}

aside,
footer,
header,
main,
section{
	display: block;
}

.page-content {
	display: table-row;
}