// BEM (BLOCK, ELEMENT, MODIFICATOR)
.feedback-form {  // BLOCK
	color: orange;
	// $ = .feedback-form

	input, textarea {
		box-sizing: border-box;
	}

	&__feedback { // ELEMENT
		color: red;
	}

	&__title {
		color: #5656e3;

		&-color-primary { // MODIFICATOR
			color: darkred;
			font-weight: bold;
		}
	}

	&__text {
		// $ = .feedback-form__text
		&-bordered {
			border: 1px solid orange;
			padding: 10px;
		}
	}
}

body {
	background: rgba(86, 86, 227, 0.22);
}

.main {
	margin: 0 auto;
	width: 300px;
	background-color: #303948;
	padding: 25px;
}

.feedback {
	width: 150px;
	height: 60px;
	margin: 0 auto;
	display: block;
	background-color: rgba(102, 148, 94, 0.36);
	padding: 3px;
}

h2 {
	color: #ffffff;
	font-weight: lighter;
	font-family: fantasy;
	font-size: 25px;
	text-align: center;
}

h2 a:hover {
	color: darkolivegreen;
	transition: 0.7s;
}

p {
	margin: 15px 0;
	color: #C3C3C3;
	font-size: 20px;
	font-family: fantasy;
	font-weight: lighter;
	line-height: 37px;
}

.name,
.e-mail {
	width: 300px;
	height: 40px;
	padding-left: 10px;
}

.name,
.e-mail:focus {
	background: #c5d1cd;
}

.name,
.e-mail,
.question {
	border-color: rgba(78, 104, 148, 0.53);
	background-color: #c0c0c0;
	margin-bottom: 25px;
	color: #303948;
	outline: none;
}

.send,
.clean {
	transition: background 0.7s;
	background: #7D4747;
	border: darkkhaki;
	padding: 25px 10px;
	width: 49%;
	color: white;
	text-transform: uppercase;
	cursor: pointer;

	&:hover {
		background: #747474;
	}
}

.send {
	float: left;
}

.clean {
	float: right;
}

.question {
	width: 300px;
	min-height: 100px;
	padding: 5px 0 0 10px;
}

input::-webkit-input-placeholder {
	color: rgba(141, 0, 0, 0.7);
}

textarea::-webkit-input-placeholder {
	color: rgba(141, 0, 0, 0.7);
}