@keyframes cloud1 {
  0% {
    background-position: 50% 0; }
  100% {
    background-position: 150% 0; } }

@keyframes cloud2 {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 150% 0; } }

@keyframes cloud3 {
  0% {
    background-position: 30% 0; }
  100% {
    background-position: 150% 0; } }

@keyframes cloud4 {
  0% {
    background-position: 70% 0; }
  100% {
    background-position: 150% 0; } }

@keyframes cloud5 {
  0% {
    background-position: 60% 0; }
  100% {
    background-position: 150% 0; } }

#root {
  border: 1px solid gray;
  background: url(/static/mountain.jpg);
  padding: 20px; }

@font-face {
  font-family: "opensans";
  src: url("/static/opensans.eot?v=75519");
  src: url("/static/opensans.eot?v=75519#iefix") format("embedded-opentype"), url("/static/opensans.woff?v=75519") format("woff"), url("/static/opensans.ttf?v=75519") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "opensansbold";
  src: url("/static/opensansbold.eot?v=75519");
  src: url("/static/opensansbold.eot?v=75519#iefix") format("embedded-opentype"), url("/static/opensansbold.woff?v=75519") format("woff"), url("/static/opensansbold.ttf?v=75519") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "opensansextrabold";
  src: url("/static/opensansextrabold.eot?v=75519");
  src: url("/static/opensansextrabold.eot?v=75519#iefix") format("embedded-opentype"), url("/static/opensansextrabold.woff?v=75519") format("woff"), url("/static/opensansextrabold.ttf?v=75519") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "opensansitalic";
  src: url("/static/opensansitalic.eot?v=75519");
  src: url("/static/opensansitalic.eot?v=75519#iefix") format("embedded-opentype"), url("/static/opensansitalic.woff?v=75519") format("woff"), url("/static/opensansitalic.ttf?v=75519") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  background: white; }
