/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  border: none;
  margin: 0;
  text-decoration: none;
  color: inherit; }

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

hr {
  color: unset; }

@keyframes cloud1 {
  0% {
    background-position: 50% 0; }
  100% {
    background-position: 150% 0; } }

@keyframes cloud2 {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 150% 0; } }

@keyframes cloud3 {
  0% {
    background-position: 30% 0; }
  100% {
    background-position: 150% 0; } }

@keyframes cloud4 {
  0% {
    background-position: 70% 0; }
  100% {
    background-position: 150% 0; } }

@keyframes cloud5 {
  0% {
    background-position: 60% 0; }
  100% {
    background-position: 150% 0; } }

body {
  background-color: rgba(195, 195, 195, 0.11);
  font-size: 12px; }

h1 {
  font-family: 'opensansextrabold'; }

h2 {
  font-family: 'opensansbold';
  margin: 10px 0; }

h3 {
  font-family: 'opensansbold'; }

a {
  font-family: 'opensanslight'; }

p {
  font-family: 'opensanslight';
  color: #406327;
  font-size: 20px; }

aside,
footer,
header,
main,
section {
  display: block; }

.page-content {
  display: table-row; }

.box {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 4em; }

h3 {
  color: #fff;
  font-size: 1.1em;
  font-weight: 700;
  margin: 20px 0; }

a {
  color: #d4dde0;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.1em; }

a:hover {
  color: #c94663;
  transition: 0.7s; }

li {
  text-align: left;
  margin: 15px 0;
  color: #313113; }

div .sidebar {
  width: 30%;
  padding: 3em 1.5em 1.5em 1.5em;
  display: table-cell;
  background-color: #303948; }

.aside-logo {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 2em;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

.aside-logo-link {
  display: block;
  background-color: #c94663;
  padding: 0.875em 0.25em;
  border-radius: 0.2em;
  text-align: center;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.15), 0 0.025em 0.15em 0em rgba(0, 0, 0, 0.25);
  text-decoration: none;
  color: #fff; }

.aside-logo-link:hover {
  color: #753F38;
  transition: 0.7s; }

.aside-nav li {
  margin-top: 1em;
  border-top: solid 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.075);
  padding: 1.5em;
  border-radius: 5px; }

.aside-nav li:hover {
  background-color: #7d7d7d;
  transition: 0.7s;
  border-radius: 5px; }

.aside-nav .first-aside-link {
  background-color: #272E39;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
  font-weight: 700;
  color: #fff;
  padding: 1.5em; }

.aside-nav li a {
  color: #c3c3c3;
  cursor: pointer;
  text-decoration: none;
  display: block;
  padding: 0.4em 1em 0.4em 1em;
  border-radius: 0.4em;
  font-size: 1.5em; }

.aside-search {
  position: relative;
  margin: 0 auto; }

.text-input {
  display: block;
  border-radius: 4px;
  border: solid 1px #7B767A;
  padding: 5px 7px;
  width: 80%;
  line-height: 2em;
  margin: 0 auto;
  background-color: #CFC3B3;
  color: #303948; }

.text-input::-webkit-input-placeholder {
  color: #623c31;
  font-weight: bold;
  font-style: italic; }

.aside-tags {
  position: relative; }

.aside-tags-inside {
  font-size: 0.8em;
  padding: 12px;
  background-color: #2E3744;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
  width: 80%;
  margin: 0 auto; }

.aside-tags-inside p {
  color: #fff;
  font-size: 1.5em; }

.aside-tags-inside p strong {
  font-weight: 700; }

.aside-tags-inside p a {
  color: #d4dde0;
  text-decoration: underline;
  cursor: pointer; }

@media all and (max-width: 1200px) {
  aside {
    font-size: 1.9em;
    padding-top: 1em; }
  h2 {
    font-weight: 500;
    margin: 20px 0; }
  a {
    font-size: 1em; }
  .recent-posts-aside h3 {
    color: #EEEEEC;
    font-size: 0.85em; }
  h1.aside-logo {
    padding: 0;
    border-radius: 0.12em;
    font-size: 1em; }
  .aside-nav li,
  .aside-nav li.first-aside-link {
    margin-top: 0.7em;
    padding: 0.8em; }
  .aside-nav li a {
    padding: 0.75em;
    font-size: 0.55em; }
  .aside-search {
    margin: 0.75em 0; }
  .box {
    width: 70%;
    margin: 0 auto;
    margin-top: 3em; }
  .aside-tags-inside p {
    font-size: 0.8em; }
  .aside-tags-inside p strong {
    font-weight: 500; }
  .text-input {
    line-height: 1.85em; } }

@media all and (max-width: 960px) {
  body {
    font-size: 0.5em;
    max-width: 700px; }
  .page-content aside.sidebar {
    min-width: 932px;
    float: none;
    height: 44px;
    background-color: #303948; }
  h1 {
    padding: 0;
    top: 0;
    left: 0; }
  .aside_logo {
    text-indent: 100px; }
  h1.aside-logo .aside-logo-link {
    width: 45px;
    height: 17px;
    position: absolute;
    top: 0;
    margin-top: 18px;
    left: 0;
    margin-left: 26px;
    text-indent: 8.5em; }
  .aside-nav,
  .aside-search,
  .aside-tags,
  .recent-posts-aside,
  .recent-comments-aside,
  .calendar-aside {
    visibility: hidden; } }

.page-content {
  display: table-row; }

.content {
  display: table-cell;
  width: 70%;
  margin: 2em 2em; }

h2 a {
  color: black;
  text-decoration: none;
  font-size: 3em;
  font-weight: bold; }

h2 a:hover {
  color: darkolivegreen;
  transition: 0.7s; }

.content-news {
  background-color: rgba(99, 87, 71, 0.07);
  border: 1px solid rgba(126, 126, 126, 0.08);
  opacity: 0.9;
  padding: 7%;
  margin-bottom: 6em; }

.short-content-info {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  display: block;
  margin-top: 1em;
  color: #174796;
  padding: 1em 0;
  font-size: 1.2em; }

.content-date {
  font-size: 1em;
  color: #303948;
  font-style: italic; }

.content-image {
  background: url(/static/pic01.jpg) no-repeat center;
  width: 90%;
  height: 400px;
  margin: 20px 10px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease; }

.content-image:hover {
  -webkit-filter: brightness(50%); }

.content-short-text {
  padding: 1em 0; }

article.content-news div.content-info a.link-text {
  color: #C94663;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  text-decoration: none; }

article.content-news div.content-info a.link-text:hover {
  color: #1594ff;
  transition: 7ms;
  text-decoration: underline; }

.recent-posts-aside a,
.recent-comments-aside {
  font-size: 1.1em; }

.content-info-resume {
  min-height: 1752px;
  width: 90%; }

#content-news-resume {
  height: auto;
  margin: 50px; }

.content-image-resume {
  width: 40%;
  height: 417px;
  float: left;
  background: url(/static/resume.jpg) no-repeat;
  background-size: 134%; }

.content-short-text-resume {
  float: right;
  width: 52%; }

.content-short-text-resume li,
.content-short-text li {
  font-size: 16px;
  font-family: 'SansProMedium';
  color: rgba(0, 0, 0, 0.58); }

#content-news-contacts,
#content-news-main {
  margin: 50px; }

@media all and (max-width: 1200px) {
  body {
    font-size: 0.9em; }
  .aside-logo {
    padding: 0;
    font-size: 1em; }
  .content {
    margin: 1.6em 1.6em; }
  .recent-posts-aside a,
  .recent-comments-aside {
    font-size: 0.5em;
    margin-top: 6em; } }

@media all and (max-width: 960px) {
  .content {
    padding: 4em;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px; }
  .content-image {
    display: block; } }

@font-face {
  font-family: "opensans";
  src: url("/static/opensans.eot?v=75519");
  src: url("/static/opensans.eot?v=75519#iefix") format("embedded-opentype"), url("/static/opensans.woff?v=75519") format("woff"), url("/static/opensans.ttf?v=75519") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "opensansbold";
  src: url("/static/opensansbold.eot?v=75519");
  src: url("/static/opensansbold.eot?v=75519#iefix") format("embedded-opentype"), url("/static/opensansbold.woff?v=75519") format("woff"), url("/static/opensansbold.ttf?v=75519") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "opensansextrabold";
  src: url("/static/opensansextrabold.eot?v=75519");
  src: url("/static/opensansextrabold.eot?v=75519#iefix") format("embedded-opentype"), url("/static/opensansextrabold.woff?v=75519") format("woff"), url("/static/opensansextrabold.ttf?v=75519") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "opensansitalic";
  src: url("/static/opensansitalic.eot?v=75519");
  src: url("/static/opensansitalic.eot?v=75519#iefix") format("embedded-opentype"), url("/static/opensansitalic.woff?v=75519") format("woff"), url("/static/opensansitalic.ttf?v=75519") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  background: white; }
