@font-face {
	font-family: 'opensans';
	src: url('../../fonts/opensans.ttf') format('truetype'),
	url('../../fonts/opensans.ttf') format('truetype');
	url('../../fonts/opensans.woff') format('woff'),
	url('../../fonts/opensans.svg') format('svg');
	url('../../fonts/opensans.eot');
}

@font-face {
	font-family: 'opensansbold';
	src: url('../../fonts/opensansbold.ttf') format('truetype'),
	url('../../fonts/opensansbold.ttf') format('truetype');
	url('../../fonts/opensansbold.woff') format('woff'),
	url('../../fonts/opensansbold.svg') format('svg');
	url('../../fonts/opensansbold.eot');
}

@font-face {
	font-family: 'opensansextrabold';
	src: url('../../fonts/opensansextrabold.ttf') format('truetype'),
	url('../../fonts/opensansextrabold.ttf') format('truetype');
	url('../../fonts/opensansextrabold.woff') format('woff'),
	url('../../fonts/opensansextrabold.svg') format('svg');
	url('../../fonts/opensansextrabold.eot');
}

@font-face {
	font-family: 'opensanslight';
	src: url('../../fonts/opensanslight.ttf') format('truetype'),
	url('../../fonts/opensanslight.ttf') format('truetype');
	url('../../fonts/opensanslight.woff') format('woff'),
	url('../../fonts/opensanslight.svg') format('svg');
	url('../../fonts/opensanslight.eot');
}

@font-face {
	font-family: 'Overpass';
	src: url('../../fonts/Overpass.ttf') format('truetype'),
	url('../../fonts/Overpass.ttf') format('truetype');
}

@font-face {
	font-family: 'SansProMedium';
	src: url('../../fonts/SansProMedium.ttf') format('truetype'),
	url('../../fonts/SansProMedium.ttf') format('truetype');
}

